<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-label>{{deckGroupName}} {{deckName}}</ion-label>
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button default-href="./"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <app-search [items]="cards"
                [properties]="['cardId', 'name', 'text']"
                (onSearch)="onSearch($event)"
                (onSearchStarted)="onSearchStartes($event)"></app-search>
    <ion-spinner text-center *ngIf="isLoading" class="search-spinner"></ion-spinner>

    <ion-list *ngIf="showedCards && showedCards.length > 0">
        <ion-list-header>
            <ion-toolbar>
                <ion-title>
                    <ion-label>Cards</ion-label>
                </ion-title>
            </ion-toolbar>
        </ion-list-header>
        <ion-card *ngFor="let card of showedCards">
            <ion-card-header>
                <ion-card-title>
                    <ion-label>{{card.name}}</ion-label>
                    <ion-icon name="flame"
                              (click)="togglePreference(card)"
                              class="favorite-icon"
                              [class.favorite]="card.favorite"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>{{card.cardId}}</ion-card-subtitle>
                <ion-card-subtitle>{{card.cardSet}}</ion-card-subtitle>
            </ion-card-header>

            <ion-img [src]="card.img"></ion-img>

            <ion-card-content>
                <div [innerHTML]="card.text"></div>
                <ion-button size="medium"
                            expand="full"
                            [href]="generateUrlToCardDetail(card.cardId)">
                    Detail
                </ion-button>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>


